
    {% if current_user.is_authenticated %}

      <div class="ui  item">

          <a href="{{ url_for('auth.change_password') }}">Change Password</a>
          <a href="{{ url_for('auth.change_email_request') }}">Change Email</a>
          {% if current_user.is_admin %}
          <a href="{{ url_for('auth.company_settings') }}">Company Settings</a>
          {% endif %}
          <a href="{{ url_for('auth.logout') }}">Log Out</a>

      </div>

    {% else %}
      <div class="ui item">
        <a class="item" href="{{ url_for('auth.login') }}">Login <i class="sign-in icon"></i></a>
        <a class="item" href="{{ url_for('auth.register') }}">Sign Up</a>
      </div>
    {% endif %}
