{% extends "base.html" %}


{% block title %}{{ super() }} Auth Index {% endblock %}

{% block page_content %}




  <div class="ui two column centered grid">
    <div class="ui column container">

            {% for message in get_flashed_messages() %}
      <div class="ui message transition">
        <i class="close icon"></i>
        {{ message }}
      </div>
    {% endfor %}

      <h1>{{ current_user.company.name }} Company Settings</h1>

      {% include 'auth/_invite_user.html' %}
      {% include 'auth/_user_list.html' %}

    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
{% endblock %}
