<div class="ui huge attached stackable pointing menu">
  <div class="ui container">
    <a class="item" href="">Clue</a>

    <a class="item" href="">Dashboard</a>
    <a class="item" href="">Projects</a>


    <div class="ui dropdown item">

      Create <i class="large dropdown icon"></i>
      <div class="menu">
        <a class="item" href="">Bill Of Materials</a>
        <a class="item" href="">Cut List</a>
        <a class="item" href="">Project</a>
      </div>

    </div>

    <div class="ui dropdown item">

      Utilities <i class="large dropdown icon"></i>
      <div class="menu">
        <a class="item" href="">Calculate Bar Spacing</a>
        <a class="item" href="">Louver Calculator</a>
        <a class="item" href="">Working with Certs</a>

      </div>

    </div>

    <div class="ui dropdown item">
      &nbsp; Admin
      <i class="large dropdown icon"></i>

      <div class="menu">
        <a class="item" href="">Material Library</a>
        <a class="item" href="">Material Classes</a>
      </div>

    </div>

    {% include('auth/_auth_menu.html') %}
  </div>
</div>
<br>
